-
  var patterns = [
    {
      locality: "Санкт-Петербург",
      street: "Литейный пр-д, д.26",
      postal: "191028",
      phone: "+7 977 550 37 17",
      mail: "help@sushkapola.ru"
    },
    {
      locality: "Москва",
      street: "ул. Рябиновая. д.65 стр.4",
      postal: "121471",
      phone: "+7 926 286 37 81",
      mail: "help@sushkapola.ru"
    }
  ];

footer.footer
  .container.footer__container
    .row.footer__row
      each pattern in patterns
        .footer-contacts(itemscope, itemtype="http://schema.org/Organization")
          span.footer-contacts__name(itemprop="name") SushkaPola
          .footer__address(itemprop="address", itemscope, itemtype="https://schema.org/PostalAddress")
            .footer__address-field.footer__address-field_title
              .footer__address-icon.footer__address-icon_title
                i.footer__address-marker.footer__address-marker_title.fal.fa-location
              span.footer__address-text.footer__address-text_title(itemprop="addressLocality") #{pattern.locality}
            .footer__address-field
              span.footer__address-text(itemprop="streetAddress") #{pattern.street}
            .footer__address-field
              span.footer__address-text(itemprop="postalCode") #{pattern.postal}
            .footer__address-field
              a.footer__address-icon(href=`tel:${pattern.phone.replace(/\s/g, '')}`)
                i.footer__address-marker.fal.fa-phone
              a.footer__address-icon(href=`https://wa.me/${pattern.phone.replace(/\s/g, '')}`)
                i.footer__address-marker.fab.fa-whatsapp-square
              a.footer__address-icon(href=`viber://chat?number=${pattern.phone.replace(/\+7/, "8").replace(/\s/g, '')}`)
                i.footer__address-marker.fab.fa-viber
              span.footer__address-text(itemprop="telephone") #{pattern.phone}
            .footer__address-field.footer__address-field_hidden
              span.footer__address-text(itemprop="email") #{pattern.mail}
